.idea
.vscode
.github/copilot-instructions.md
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> node_modules ###
/node_modules/
###< node_modules ###



###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/public/images/
/assets/vendor/
###< symfony/asset-mapper ###

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###
