{% extends 'base.html.twig' %}

{% block body %}

<section class="relative">
  <!-- Carousel (background hero) -->
  {% include 'component/carousel.html.twig' with {'image_files': image_files } %}

  <!-- Page title overlayed in front of the carousel -->

</section>
{% endblock %}
